{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row align-items-end">
            <!-- Single Blog Area -->
            <div>
                <div class="single-blog-area clearfix mb-100">
                    <!-- Blog Content -->
                    <div class="single-blog-content">
                        <div class="line"></div>
                        <a href="#" class="post-tag">Lifestyle</a>
                        <h4><a href="#" class="post-headline" id="title-post">Welcome to this Lifestyle blog</a></h4>
                        <p class="post-text">Curabitur venenatis efficitur lorem sed tempor. Integer aliquet tempor cursus. Nullam
                            vestibulum convallis risus vel condimentum. Nullam auctor lorem in libero luctus, vel
                            volutpat quam tincidunt. Morbi sodales, dolor id ultricies dictum. Curabitur venenatis efficitur lorem sed tempor. Integer aliquet tempor cursus. Nullam
                            vestibulum convallis risus vel condimentum. Nullam auctor lorem in libero luctus, vel
                            volutpat quam tincidunt. Morbi sodales, dolor id ultricies dictum. Curabitur venenatis efficitur lorem sed tempor. Integer aliquet tempor cursus. Nullam
                            vestibulum convallis risus vel condimentum. Nullam auctor lorem in libero luctus, vel
                            volutpat quam tincidunt. Morbi sodales, dolor id ultricies dictum. Curabitur venenatis efficitur lorem sed tempor. Integer aliquet tempor cursus. Nullam
                            vestibulum convallis risus vel condimentum. Nullam auctor lorem in libero luctus, vel
                            volutpat quam tincidunt. Morbi sodales, dolor id ultricies dictum
                        </p>
                        <a href="#" class="btn original-btn">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
